/* Your styles here */
/*GLOBAL*/

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e9edee;
}

main {
  padding: 3em 2em;
}

.content-wrap,
nav ul,
.logo-header {
  max-width: 1400px;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}

p {
  margin: 0;
}

.margin-div {
  margin-top: 3em;
}

.holiday-guides,
.orange-bg,
a,
.list-nav-bar {
  color: #fff;
}

.bg-color-hf {
  background-color: #222f3f;
}

.secondary-bg-color {
  background-color: #364759;
}

.logo-header img,
footer img {
  padding: 1em;
  width: auto;
  height: 4em;
}

.inline-title h2,
.inline-title h3 {
  display: inline;
}
.inline-title h2 {
  color: black;
  font-weight: 400;
}
.inline-title h3 {
  margin-left: 1em;
  color: #0b7b68;
  font-weight: 700;
  font-size: 1em;
}

.full-width-product img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*SINGOLE SEZIONI*/

/*HEADER*/

/*NAV BAR*/

.list-nav-bar ul {
  padding: 1em;
}

.list-nav-bar ul li {
  display: inline;
  padding: 0 1em;
}
/* MAIN */
.orange-bg {
  background-color: #f56600;
}

.orange-bg p {
  padding: 0.5em 0;
}

.holiday-guides {
  background-image: url("../images/bg-image.png");
  background-color: #2f6d5e;
  padding: 3em;
}

.holiday-guides h2 {
  font-size: 2em;
}

.gift-wrap {
  background-color: #fff;
  padding: 1em 1em;
}

.img-perfect-gift {
  text-align: justify;
  margin: 1em 2em;
}

.img-perfect-gift::after {
  content: "";
  display: inline-block;
  width: 100%;
}

.img-perfect-gift div {
  display: inline-block;
  width: 300px;
  height: 400px;
}

.img-perfect-gift div img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  border-radius: 30px;
  box-shadow: #0000003d 8px 8px 10px 5px;
}
/* FOOTER */
.backtop {
  padding: 1em 0;
}

.footer-wrap {
  padding: 1em 0;
}

footer a {
  font-weight: 700;
}

footer img {
  padding-top: 3em;
}
